In [ ]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## 계층 색인 (다중 색인)

In [ ]:
# 샘플 데이터 생성
np.random.seed(0)
df = pd.DataFrame(np.random.randint(50, 100, (5, 6)), 
                  columns=[[2016, 2016, 2016, 2017, 2017, 2017], ['영어','수학', '과학','영어','수학', '과학']], 
                  index = ['Kim','Park','Lee','Jung','Moon'])
df.index.set_names('학생명', inplace = True)
df.columns.set_names(['년도','과목'], inplace = True)
df.loc['Moon', (2016, '과학')] = np.nan

## 1) 인덱싱

In [ ]:
# 1) 2016년 데이터만 선택

In [ ]:
# 2) 2016년 영어 성적만 선택

In [ ]:
# 3) Kim의 성적만 선택

In [ ]:
# 4) Kim, Park, Lee의 성적만 선택

In [ ]:
# 5) Park과 Jung의 2016년 성적 선택

In [ ]:
# 6) Park과 Jung의 2016년 영어 성적 선택

In [ ]:
# 7) 2016, 2017 영어 성적만 선택

## 2) 인덱스에 이름 부여하기 (set_names())

In [ ]:
# 1) 로우 인덱스의 이름을 '학생명'이라고 정의하기

In [ ]:
# 2) 컬럼들의 이름을 각각 year와 subject로 정의하기

## 3) 인덱스 재구성하기 swaplevel(), stack(), unstack(),..

* reset_index() : 로우 인덱스를 하나의 컬럼으로 변경

* set_index() : 인자로 받은 컬럼의 값들을 로우 인덱스로 변경

* swaplevel(index1, index2, axis)
 - index1과 index2의 위치를 변경함. 
 - index1과 index2가 로우 인덱스인 경우, axis = 0, 컬럼인덱스면 1 (기본값은 0)

In [ ]:
# 년도와 과목의 위치를 변경

* stack(), unstack() 함수
 - stack(level) : 컬럼 인덱스를 로우 인덱스로 옮길 때 사용.
 - unstack(level): 로우 인덱스를 컬럼 인덱스로 옮길 때 사용.
 - level 인자는 옮기고자 하는 인덱스의 위치를 표기함. 명시하지 않은 경우, 최하단의 인덱스를 이동시킴.
 -  level은 최상위가 0이고, 1씩 증가함

In [ ]:
# 1) 컬럼 인덱스 과목을 로우 인덱스로 변경

In [ ]:
# 2) 컬럼 인덱스 년도를 로우 인덱스로 변경

In [ ]:
# 실습을 위해 df2 생성
df2 = df.stack(1)
df2

In [ ]:
# 실습 #1. Kim의 성적만 선택

In [ ]:
# 실습 #2. Park의 수학 성적만 선택

In [ ]:
# 실습 #3. 모든 학생들의 영어 성적만 선택

In [ ]:
# 실습 #4. Park 학생의 2016년 영어 성적만 출력

In [ ]:
# 실습 #5. 학생들의 과목별 성적의 평균을 구해서, 새로운 컬럼 '평균'으로 저장

In [22]:
# 실습 #6. 연도별 과목 평균 구하여 출력하기.

# 실습
## data/NC Dinos.xlsx 파일을 읽어서, 아래 결과처럼 나오도록 하시오. 
<img src="img/6강/NC계층색인예제.jpg" alt="NC계층색인예제" style="width: 350px;"/>

In [ ]:
NC = pd.read_excel('data/NC Dinos.xlsx', sheet_name = None)
NC13, NC14, NC15 = NC.values()

In [ ]:
NC13['년도'] = 2013
NC14['년도'] = 2014
NC15['년도'] = 2015

In [ ]:
NC13 = NC13[['선수명', '년도', '안타','홈런']]
NC14 = NC14[['선수명', '년도', '안타','홈런']]
NC15 = NC15[['선수명', '년도', '안타','홈런']]

In [ ]:
NCAll = pd.concat([NC13, NC14, NC15])

In [ ]:
NCAll

In [ ]:
NCAll.set_index(['년도', '선수명']).unstack(0).fillna('-')

In [ ]:
NCAll.unstack(0)