In [1]:
# Pandas 라이브러리 임포트
import pandas as pd 
from pandas import Series, DataFrame

In [4]:
# 1. 빈 데이터프레임 생성

In [2]:
# 2. 데이터프레임 생성하고 데이터 할당하기

In [5]:
# 3. 사전 타입 데이터를 이용하여 데이터 프레임 생성하기
인구통계 = {'서울': [950, 945, 938.5],
        '대전':[50, 151, 145],
        '대구':[85, 88, 92],
        '부산':[180, 187, 192],
        '광주':[74, 80, 80]
      }

### 2.2.2. DataFrame 속성 조회하기 (속성을 조회할 때에는 ()를 사용하지 않으니 유의)

In [8]:
#1. index : 데이터프레임의 인덱스를 리스트로 반환

In [9]:
#2. columns : 데이터프레임의 컬럼을 리스트로 반환

In [10]:
#3. values : 데이터프레임의 데이터 반환 (ndarray)

In [11]:
#4. shape : 행(row)과 열(column)의 개수(차원)을 튜플로 반환

In [12]:
#5. T (Transpose) : 행과 열을 바꾸기.

In [13]:
#6. axes : 행과 열 이름을 리스트로 반환

In [14]:
#7. dtypes : 컬럼별 데이터타입 반환

In [15]:
#8. size : DataFrame의 원소의 개수를 반환

### 2.2.3. 데이터프레임 기본 함수

In [16]:
#1. info() - 기본 정보 출력

In [17]:
#2. describe() - 기본 통계 정보 출력

In [18]:
# 통계 함수 (mean, sum, max, min, ...)

In [19]:
# 3. sample() - 일부 데이터를 랜덤으로 선택

In [20]:
# 4. head, tail(x) - 맨 앞 혹은 맨 뒤의 x개의 데이터만 출력

In [21]:
# 5. nunique() - unique한 값의 개수

In [22]:
# 6. plot() - 데이터 시각화

In [23]:
# 7. filter() - 원하는 데이터만 선택

# 3-3차시

### 2.2.3. 데이터프레임 조회하기

In [24]:
# 테스트 데이터프레임 생성
df4 = DataFrame({'Class': ['IoT','Network', 'Economy','Big Data', 'Cloud'],
                       'Year': [2018, 2017, 2018, 2018, 2019],
                       'Price': [100, 125, 132, 312, 250],
                       'Location': ['Korea','Korea', 'Korea', 'US','Korea']},
                      index=['C01','C02','C03', 'C04', 'C05'])
df4

        Class  Year  Price Location
C01       IoT  2018    100    Korea
C02   Network  2017    125    Korea
C03   Economy  2018    132    Korea
C04  Big Data  2018    312       US
C05     Cloud  2019    250    Korea

In [25]:
# 1. 원하는 열(컬럼)만 조회하기
# 1-1) Class만 조회하기

In [26]:
# 1-2) Class와 Price 조회하기

In [28]:
# 2. 원하는 행(로우)만 조회하기

In [30]:
# 3. 인덱스 슬라이싱

In [32]:
# 4. 원하는 행과 열을 선택하여 조회하기 
# C02, C03 강의의 Class와 Year만 조회

In [33]:
# 5. 조건 색인

In [34]:
# 아래 결과들이 출력되도록 코드를 완성하시오.
# 실습 1. 'Year' 컬럼만 선택

In [35]:
# 실습 2. 'Class'와 'Location' 컬럼만 선택

In [36]:
# 실습 3. C01과 C03 강의의 모든 컬럼 선택

In [37]:
# 실습 4. C01~C03 강의의 Class와 Price만 선택

In [38]:
# 실습 4. 2019년도 강의만 조회

In [39]:
# 실습 5. 가장 가격이 비싼 강의 정보만 조회

In [40]:
# 실습 6. 2018, 2019년도에 개설된 강의 조회

In [41]:
# 실습 7. 2018년도에 한국에서 개설된 강의 조회

# 4-1차시

### 1. 데이터프레임에 새로운 컬럼 추가하기

In [45]:
# 컬럼 추가하기 1
# limitStudent 컬럼(정원)을 추가하고, 값을 모두 30으로 저장

In [44]:
# 컬럼 추가하기 2.
# numStudent 컬럼(수강학생수)을 추가하고, 값을 25,30,10,23,17로 저장

In [379]:
# 컬럼 추가하기 3 (기존 컬럼에 함수를 적용한 결과로 값을 할당하기)
# priceLevel 컬럼을 추가하고, 
# Price가 200과 같거나 크면, High, 200보다 작으면 Low

In [46]:
# 컬럼 추가하기 4 (기존 컬럼을 이용하여 새 컬럼 추가하기)
# income 컬럼을 추가하고, Price와 numStudent의 값을 곱한 값으로 할당

In [48]:
# 실습. rate 컬럼을 추가하고, 충원율을 계산하여 할당. 
# 충원율은 정원(limitStudent) 대비 수강학생수(numStudent) 비율

### 2. 불필요한 컬럼이나 데이터 삭제하기