## 3. 웹 스크래핑

In [ ]:
# 데이터 입출력
# 01.웹 스크래핑[1] - read_clipboard()
# 02.웹 스크래핑[2] - read_html()
# 03.웹 스크래핑[3] - Selenium을 활용한 동적 웹페이지 스크래핑
# 04.데이터베이스로부터 데이터 읽고 쓰기

In [ ]:
# HTML(HyperText Markup Language)
# 웹 페이지를 기술하기 위한 문법
# 웹 사이트의 html 문서 내에 존재하는 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환해 주는 함수
# 동적 웹 페이지의 경우에는 이 함수를 사용할 수 없음
# 웹 스크랩핑을 위한 라이브러리 활용
# request 라이브러리
# beautifulsoup 라이브러리
# selenium 라이브러리

In [2]:
import pandas as pd
from pandas import DataFrame, Series

In [ ]:
# 웹 스크래핑(Web scraping)
# 웹 사이트에 존재하는 데이터를 수집하여 내가 원하는 형태로 가공하고 정제하는 작업

In [ ]:
# 웹 크롤링(Web crawling)
# 웹 스크래핑을 자동화하여 자동화된 봇(bot)이 정해진 규칙에 따라 여러 웹 사이트를 돌아다니면서 데이터를 수집하는 것

### 1) read_clipboard() - 복사(ctrl C) 붙여넣기(ctrl V)

In [3]:
# 2. chromedriver 다운로드하여 적절한 위치에 옮기기
# 다운로드 사이트: https://sites.google.com/a/chromium.org/chromedriver/downloads
# 자신의 크롬 브라우저의 버전에 맞는 파일을 다운로드

In [6]:
# 네이버 주식 데이터 가져오기
# 테이블 형태의 데이터를 드래그(drag) 한 후, 복사(ctrl+C)
# read_clipboard() : 클립보드로 복사된 데이터를 데이터프레임으로 반환하는 함수
# read_clipboard()를 실행하면 이전에 복사했던 주식 데이터가 데이터프레임의 형태로 저장
# 크롬 브라우저를 사용해야만 read_clipboard() 함수가 정상적으로 실행됨
코스피 = pd.read_clipboard()
코스피

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,1,삼성전자,"73,200",하락 900,-1.21%,100,"4,369,881","5,969,783",51.86,"15,704,195",15.41,9.99,토론실
1,2,SK하이닉스,"100,000","하락 3,000",-2.91%,"5,000","728,002","728,002",47.13,"2,657,975",12.51,9.53,토론실
2,3,NAVER,"382,000","하락 6,000",-1.55%,100,"627,486","164,263",56.58,"391,943",3.80,15.22,토론실
3,4,삼성바이오로직스,"875,000","상승 1,000",+0.11%,"2,500","578,944","66,165",10.55,"52,986",172.92,NaN,토론실
4,5,삼성전자우,"68,000","하락 1,600",-2.30%,100,"559,563","822,887",75.05,"2,272,432",14.32,NaN,토론실
5,6,LG화학,"770,000","하락 6,000",-0.77%,"5,000","543,561","70,592",46.61,"230,763",20.74,2.93,토론실
6,7,카카오,"116,500","하락 1,500",-1.27%,100,"518,416","444,992",30.35,"2,315,416",108.57,2.70,토론실
7,8,삼성SDI,"707,000","하락 11,000",-1.53%,"5,000","486,165","68,765",44.94,"183,726",52.38,4.54,토론실
8,9,현대차,"193,500","하락 6,500",-3.25%,"5,000","413,448","213,668",28.53,"1,175,466",14.02,2.04,토론실
9,10,셀트리온,"248,000","하락 11,500",-4.43%,"1,000","342,078","137,935",20.63,"1,004,304",58.15,16.68,토론실
10,11,기아,"78,300","하락 2,900",-3.57%,"5,000","317,400","405,363",34.56,"1,771,205",9.14,5.05,토론실
11,12,카카오뱅크,"65,500","하락 2,900",-4.24%,"5,000","311,191","475,100",5.67,"1,348,143",211.97,5.08,토론실
12,13,POSCO,"324,000","하락 6,000",-1.82%,"5,000","282,485","87,187",55.02,"301,269",7.33,3.61,토론실
13,14,크래프톤,"498,000","하락 4,000",-0.80%,100,"243,778","48,951",6.18,"169,713",42.88,61.86,토론실
14,15,SK이노베이션,"263,500","하락 1,500",-0.57%,"5,000","243,647","92,466",24.27,"405,500",-54.59,-13.58,토론실
15,16,현대모비스,"249,500","하락 3,500",-1.38%,"5,000","236,509","94,793",35.02,"241,781",10.71,4.66,토론실
16,17,SK텔레콤,"327,000","상승 3,000",+0.93%,500,"235,637","72,060",44.48,"306,849",12.41,6.44,토론실
17,18,KB금융,"55,200",하락 100,-0.18%,"5,000","229,526","415,808",68.08,"1,542,915",5.44,8.53,토론실
18,19,삼성물산,"121,500","하락 2,000",-1.62%,100,"227,068","186,887",15.14,"238,543",13.86,3.81,토론실
19,20,SK바이오사이언스,"273,500","상승 3,000",+1.11%,500,"209,228","76,500",5.59,"702,692",133.22,13.25,토론실
20,21,LG생활건강,"1,331,000","하락 6,000",-0.45%,"5,000","207,878","15,618",45.31,"22,396",27.95,17.92,토론실
21,22,LG전자,"125,500","하락 2,000",-1.57%,"5,000","205,378","163,648",30.28,"1,090,818",15.18,13.23,토론실
22,23,신한지주,"39,700",하락 700,-1.73%,"5,000","205,090","516,600",60.77,"1,373,627",5.14,8.20,토론실
23,24,SK,"262,500","하락 5,500",-2.05%,200,"184,696","70,360",19.73,"137,066",16.94,1.11,토론실
24,25,SK아이이테크놀로지,"227,500","상승 1,500",+0.66%,"1,000","162,202","71,298",9.80,"319,783",149.57,11.00,토론실
25,26,한국전력,"23,450",하락 100,-0.42%,"5,000","150,541","641,964",15.04,"1,462,022",12.63,2.91,토론실
26,27,LG,"93,000",0,0.00%,"5,000","146,290","157,301",33.61,"233,006",5.83,7.50,토론실
27,28,삼성생명,"71,700","하락 1,700",-2.32%,500,"143,400","200,000",13.00,"316,357",8.19,3.53,토론실
28,29,포스코케미칼,"178,500","상승 1,500",+0.85%,500,"138,272","77,463",8.09,"725,020",128.97,2.96,토론실
29,30,하나금융지주,"45,850",하락 550,-1.19%,"5,000","137,661","300,242",68.32,"923,054",4.52,8.96,토론실
30,31,엔씨소프트,"595,000","하락 8,000",-1.33%,500,"130,626","21,954",45.45,"232,326",31.94,20.83,토론실
31,32,HMM,"31,800","하락 1,900",-5.64%,"5,000","128,915","405,392",9.63,"12,482,603",20.14,8.93,토론실
32,33,삼성전기,"169,500","하락 8,000",-4.51%,"5,000","126,606","74,694",32.90,"697,765",14.78,10.92,토론실
33,34,S-Oil,"110,500",상승 500,+0.45%,"2,500","124,404","112,583",78.39,"187,257",14.21,-13.07,토론실
34,35,삼성에스디에스,"158,000","하락 2,500",-1.56%,500,"122,257","77,378",11.50,"87,191",18.97,6.71,토론실
35,36,대한항공,"33,650",하락 50,-0.15%,"5,000","117,042","347,821",12.70,"2,811,930",17.52,-7.22,토론실
36,37,하이브,"291,500","하락 7,000",-2.35%,500,"113,833","39,051",16.35,"324,534",103.70,12.52,토론실
37,38,삼성화재,"237,500","상승 2,500",+1.06%,500,"112,515","47,375",48.77,"97,217",11.25,4.96,토론실
38,39,KT&G,"80,800",하락 400,-0.49%,"5,000","110,932","137,292",36.79,"279,778",10.02,13.22,토론실
39,40,두산중공업,"19,700",하락 850,-4.14%,"5,000","101,765","516,572",9.45,"5,292,904",-46.79,-37.20,토론실
40,41,아모레퍼시픽,"173,500","하락 5,000",-2.80%,500,"101,485","58,493",32.05,"218,084",80.51,0.78,토론실
41,42,현대중공업,"113,500","하락 2,000",-1.73%,"5,000","100,757","88,773",1.38,"1,195,118",-10.26,-7.86,토론실
42,43,넷마블,"115,000","하락 3,000",-2.54%,100,"98,847","85,954",22.83,"112,781",34.54,6.35,토론실
43,44,고려아연,"499,000","하락 4,000",-0.80%,"5,000","94,161","18,870",19.48,"46,282",13.02,8.37,토론실
44,45,우리금융지주,"11,500",하락 150,-1.29%,"5,000","83,727","728,061",28.82,"1,860,883",4.02,5.87,토론실
45,46,KT,"32,000",하락 600,-1.84%,"5,000","83,556","261,112",44.29,"853,218",9.14,4.76,토론실
46,47,롯데케미칼,"242,000",상승 500,+0.21%,"5,000","82,947","34,275",26.31,"158,549",6.94,1.22,토론실
47,48,한화솔루션,"42,950","하락 1,850",-4.13%,"5,000","82,154","191,278",18.57,"1,587,734",10.65,5.30,토론실
48,49,한온시스템,"15,100",하락 550,-3.51%,100,"80,604","533,800",18.10,"874,055",27.71,5.09,토론실
49,50,SK바이오팜,"101,000","하락 1,000",-0.98%,500,"79,096","78,313",6.34,"199,479",-133.60,-135.18,토론실

### 2) read_html() - html 문서 내 테이블 데이터 읽어오기

In [ ]:
# HTML(Hyper Text Markup Language)
# 웹 페이지를 기술하기 위한 문법
# read_html()
# 웹 사이트의 html 문서 내에 존재하는 테이블 구조의 모든 데이터를 데이터프레임으로 저장해서 반환해 주는 함수
# HTML 문서 내 테이블 형태로 구성된 데이터를 읽어 데이터프레임의 목록으로 리턴해 주는 함수
# html 문서에는 여러 개의 테이블이 존재할 수 있기 때문에 데이터프레임의 리스트의 형태로 반환
# read_html() 함수도 만능은 아님
# 동적 웹 페이지의 경우에는 이 함수를 사용할 수가 없음
# 웹 스크래핑을 위한 라이브러리 활용
# requests 라이브러리
# beautifulsoup 라이브러리
# selenium 라이브러리

In [9]:
# 내가 읽고자 하는 URL 주소를 인자값으로 지정
pd.read_html('https://finance.naver.com/sise/sise_market_sum.naver', encoding = 'cp949')

[     0      1          2        3          4       5
 0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
 1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
 2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
 3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
 4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%),
        N       종목명       현재가     전일비     등락률     액면가       시가총액      상장주식수  \
 0    NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN
 1    1.0      삼성전자   73200.0   900.0  -1.21%   100.0  4369881.0  5969783.0
 2    2.0    SK하이닉스  100000.0  3000.0  -2.91%  5000.0   728002.0   728002.0
 3    3.0     NAVER  382000.0  6000.0  -1.55%   100.0   627486.0   164263.0
 4    4.0  삼성바이오로직스  875000.0  1000.0  +0.11%  2500.0   578944.0    66165.0
 ..   ...       ...       ...     ...     ...     ...        ...        ...
 76  49.0     한온시스템   15100.0   550.0  -3.51%   100.0    80604.0   533800.0
 77  50.0    SK바이오팜  101000.0  1000.0  -0.98%   500.0    79096.0    78313.0
 78   NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN
 79   NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN
 80   NaN       NaN       NaN     NaN     NaN     NaN        NaN        NaN

     외국인비율         거래량     PER     ROE  토론실
 0     NaN         NaN     NaN     NaN  NaN
 1   51.86  15704195.0   15.41    9.99  NaN
 2   47.13   2657975.0   12.51    9.53  NaN
 3   56.58    391943.0    3.80   15.22  NaN
 4   10.55     52986.0  172.92     NaN  NaN
 ..    ...         ...     ...     ...  ...
 76  18.10    874055.0   27.71    5.09  NaN
 77   6.34    199479.0 -133.60 -135.18  NaN
 78    NaN         NaN     NaN     NaN  NaN
 79    NaN         NaN     NaN     NaN  NaN
 80    NaN         NaN     NaN     NaN  NaN

 [81 rows x 13 columns],
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤]

In [10]:
# data 변수에 데이터 저장하기
# data 함수는 리스트 타입의 변수
data = pd.read_html('https://finance.naver.com/sise/sise_market_sum.naver', encoding = 'cp949')

In [11]:
# 테이블로 보고 데이터를 읽어 옴
data[0]

     0      1          2        3          4       5
0  거래량   매수호가   거래대금(백만)  시가총액(억)    영업이익(억)  PER(배)
1   시가   매도호가      전일거래량  자산총계(억)    영업이익증가율  ROE(%)
2   고가  매수총잔량      외국인비율  부채총계(억)   당기순이익(억)  ROA(%)
3   저가  매도총잔량  상장주식수(천주)   매출액(억)   주당순이익(원)  PBR(배)
4  NaN    NaN        NaN   매출액증가율  보통주배당금(원)  유보율(%)

In [13]:
# 원하는 데이터를 df에 저장
df = data[1]
df

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,73200.0,900.0,-1.21%,100.0,4369881.0,5969783.0,51.86,15704195.0,15.41,9.99,NaN
2,2.0,SK하이닉스,100000.0,3000.0,-2.91%,5000.0,728002.0,728002.0,47.13,2657975.0,12.51,9.53,NaN
3,3.0,NAVER,382000.0,6000.0,-1.55%,100.0,627486.0,164263.0,56.58,391943.0,3.80,15.22,NaN
4,4.0,삼성바이오로직스,875000.0,1000.0,+0.11%,2500.0,578944.0,66165.0,10.55,52986.0,172.92,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,한온시스템,15100.0,550.0,-3.51%,100.0,80604.0,533800.0,18.10,874055.0,27.71,5.09,NaN
77,50.0,SK바이오팜,101000.0,1000.0,-0.98%,500.0,79096.0,78313.0,6.34,199479.0,-133.60,-135.18,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# NaN 값을 제거하기 위한 조건 색인하기
# 종목명의 값이 NaN이 아니라면 True, NaN이라면 False
df.종목명.notnull()

0     False
1      True
2      True
3      True
4      True
      ...
76     True
77     True
78    False
79    False
80    False
Name: 종목명, Length: 81, dtype: bool

In [15]:
df[df.종목명.notnull()]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,73200.0,900.0,-1.21%,100.0,4369881.0,5969783.0,51.86,15704195.0,15.41,9.99,NaN
2,2.0,SK하이닉스,100000.0,3000.0,-2.91%,5000.0,728002.0,728002.0,47.13,2657975.0,12.51,9.53,NaN
3,3.0,NAVER,382000.0,6000.0,-1.55%,100.0,627486.0,164263.0,56.58,391943.0,3.80,15.22,NaN
4,4.0,삼성바이오로직스,875000.0,1000.0,+0.11%,2500.0,578944.0,66165.0,10.55,52986.0,172.92,NaN,NaN
5,5.0,삼성전자우,68000.0,1600.0,-2.30%,100.0,559563.0,822887.0,75.05,2272432.0,14.32,NaN,NaN
9,6.0,LG화학,770000.0,6000.0,-0.77%,5000.0,543561.0,70592.0,46.61,230763.0,20.74,2.93,NaN
10,7.0,카카오,116500.0,1500.0,-1.27%,100.0,518416.0,444992.0,30.35,2315416.0,108.57,2.70,NaN
11,8.0,삼성SDI,707000.0,11000.0,-1.53%,5000.0,486165.0,68765.0,44.94,183726.0,52.38,4.54,NaN
12,9.0,현대차,193500.0,6500.0,-3.25%,5000.0,413448.0,213668.0,28.53,1175466.0,14.02,2.04,NaN
13,10.0,셀트리온,248000.0,11500.0,-4.43%,1000.0,342078.0,137935.0,20.63,1004304.0,58.15,16.68,NaN
17,11.0,기아,78300.0,2900.0,-3.57%,5000.0,317400.0,405363.0,34.56,1771205.0,9.14,5.05,NaN
18,12.0,카카오뱅크,65500.0,2900.0,-4.24%,5000.0,311191.0,475100.0,5.67,1348143.0,211.97,5.08,NaN
19,13.0,POSCO,324000.0,6000.0,-1.82%,5000.0,282485.0,87187.0,55.02,301269.0,7.33,3.61,NaN
20,14.0,크래프톤,498000.0,4000.0,-0.80%,100.0,243778.0,48951.0,6.18,169713.0,42.88,61.86,NaN
21,15.0,SK이노베이션,263500.0,1500.0,-0.57%,5000.0,243647.0,92466.0,24.27,405500.0,-54.59,-13.58,NaN
25,16.0,현대모비스,249500.0,3500.0,-1.38%,5000.0,236509.0,94793.0,35.02,241781.0,10.71,4.66,NaN
26,17.0,SK텔레콤,327000.0,3000.0,+0.93%,500.0,235637.0,72060.0,44.48,306849.0,12.41,6.44,NaN
27,18.0,KB금융,55200.0,100.0,-0.18%,5000.0,229526.0,415808.0,68.08,1542915.0,5.44,8.53,NaN
28,19.0,삼성물산,121500.0,2000.0,-1.62%,100.0,227068.0,186887.0,15.14,238543.0,13.86,3.81,NaN
29,20.0,SK바이오사이언스,273500.0,3000.0,+1.11%,500.0,209228.0,76500.0,5.59,702692.0,133.22,13.25,NaN
33,21.0,LG생활건강,1331000.0,6000.0,-0.45%,5000.0,207878.0,15618.0,45.31,22396.0,27.95,17.92,NaN
34,22.0,LG전자,125500.0,2000.0,-1.57%,5000.0,205378.0,163648.0,30.28,1090818.0,15.18,13.23,NaN
35,23.0,신한지주,39700.0,700.0,-1.73%,5000.0,205090.0,516600.0,60.77,1373627.0,5.14,8.20,NaN
36,24.0,SK,262500.0,5500.0,-2.05%,200.0,184696.0,70360.0,19.73,137066.0,16.94,1.11,NaN
37,25.0,SK아이이테크놀로지,227500.0,1500.0,+0.66%,1000.0,162202.0,71298.0,9.80,319783.0,149.57,11.00,NaN
41,26.0,한국전력,23450.0,100.0,-0.42%,5000.0,150541.0,641964.0,15.04,1462022.0,12.63,2.91,NaN
42,27.0,LG,93000.0,0.0,0.00%,5000.0,146290.0,157301.0,33.61,233006.0,5.83,7.50,NaN
43,28.0,삼성생명,71700.0,1700.0,-2.32%,500.0,143400.0,200000.0,13.00,316357.0,8.19,3.53,NaN
44,29.0,포스코케미칼,178500.0,1500.0,+0.85%,500.0,138272.0,77463.0,8.09,725020.0,128.97,2.96,NaN
45,30.0,하나금융지주,45850.0,550.0,-1.19%,5000.0,137661.0,300242.0,68.32,923054.0,4.52,8.96,NaN
49,31.0,엔씨소프트,595000.0,8000.0,-1.33%,500.0,130626.0,21954.0,45.45,232326.0,31.94,20.83,NaN
50,32.0,HMM,31800.0,1900.0,-5.64%,5000.0,128915.0,405392.0,9.63,12482603.0,20.14,8.93,NaN
51,33.0,삼성전기,169500.0,8000.0,-4.51%,5000.0,126606.0,74694.0,32.90,697765.0,14.78,10.92,NaN
52,34.0,S-Oil,110500.0,500.0,+0.45%,2500.0,124404.0,112583.0,78.39,187257.0,14.21,-13.07,NaN
53,35.0,삼성에스디에스,158000.0,2500.0,-1.56%,500.0,122257.0,77378.0,11.50,87191.0,18.97,6.71,NaN
57,36.0,대한항공,33650.0,50.0,-0.15%,5000.0,117042.0,347821.0,12.70,2811930.0,17.52,-7.22,NaN
58,37.0,하이브,291500.0,7000.0,-2.35%,500.0,113833.0,39051.0,16.35,324534.0,103.70,12.52,NaN
59,38.0,삼성화재,237500.0,2500.0,+1.06%,500.0,112515.0,47375.0,48.77,97217.0,11.25,4.96,NaN
60,39.0,KT&G,80800.0,400.0,-0.49%,5000.0,110932.0,137292.0,36.79,279778.0,10.02,13.22,NaN
61,40.0,두산중공업,19700.0,850.0,-4.14%,5000.0,101765.0,516572.0,9.45,5292904.0,-46.79,-37.20,NaN
65,41.0,아모레퍼시픽,173500.0,5000.0,-2.80%,500.0,101485.0,58493.0,32.05,218084.0,80.51,0.78,NaN
66,42.0,현대중공업,113500.0,2000.0,-1.73%,5000.0,100757.0,88773.0,1.38,1195118.0,-10.26,-7.86,NaN
67,43.0,넷마블,115000.0,3000.0,-2.54%,100.0,98847.0,85954.0,22.83,112781.0,34.54,6.35,NaN
68,44.0,고려아연,499000.0,4000.0,-0.80%,5000.0,94161.0,18870.0,19.48,46282.0,13.02,8.37,NaN
69,45.0,우리금융지주,11500.0,150.0,-1.29%,5000.0,83727.0,728061.0,28.82,1860883.0,4.02,5.87,NaN
73,46.0,KT,32000.0,600.0,-1.84%,5000.0,83556.0,261112.0,44.29,853218.0,9.14,4.76,NaN
74,47.0,롯데케미칼,242000.0,500.0,+0.21%,5000.0,82947.0,34275.0,26.31,158549.0,6.94,1.22,NaN
75,48.0,한화솔루션,42950.0,1850.0,-4.13%,5000.0,82154.0,191278.0,18.57,1587734.0,10.65,5.30,NaN
76,49.0,한온시스템,15100.0,550.0,-3.51%,100.0,80604.0,533800.0,18.10,874055.0,27.71,5.09,NaN
77,50.0,SK바이오팜,101000.0,1000.0,-0.98%,500.0,79096.0,78313.0,6.34,199479.0,-133.60,-135.18,NaN

In [ ]:
# read_html() 응용하기
# 01.1~50페이지 중 10개 페이지만 데이터 읽어오기
# 02.10개 페이지를 하나의 데이터로 합치기
# 03.URL의 페이지 번호를 실행하기
# https://finance.naver.com/sise/sise_market_sum.naver?&page=10

In [20]:
# 시가총액이 높은 상위 500개 기업 데이터 읽어오기
# 01.페이지 번호를 제외한 공통 부분을 url에 저장
url = 'https://finance.naver.com/sise/sise_market_sum.naver?&page='

In [21]:
# 02.페이지 번호를 1~10까지 변경하면서 10번 반복(Loop)하여 데이터 가져오기
# num에 1~10까지 할당이 되면서 10번을 순회하게 됨
# 03. 코스피500이라는 변수에 read.html()의 결과를 저장
코스피500 = []
for num in range(1,11):
    full_url = url + str(num)
    data = pd.read_html(full_url, encoding = 'cp949')
    df = data[1]
    df = df[df.종목명.notnull()]
    코스피500.append(df)

In [22]:
# 항목당 50개의 데이터씩 총 500개 기업에 해당하는 데이터를 가져온 것을 확인할 수 있음
코스피500[0]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,73200.0,900.0,-1.21%,100.0,4369881.0,5969783.0,51.86,15704195.0,15.41,9.99,NaN
2,2.0,SK하이닉스,100000.0,3000.0,-2.91%,5000.0,728002.0,728002.0,47.13,2657975.0,12.51,9.53,NaN
3,3.0,NAVER,382000.0,6000.0,-1.55%,100.0,627486.0,164263.0,56.58,391943.0,3.80,15.22,NaN
4,4.0,삼성바이오로직스,875000.0,1000.0,+0.11%,2500.0,578944.0,66165.0,10.55,52986.0,172.92,NaN,NaN
5,5.0,삼성전자우,68000.0,1600.0,-2.30%,100.0,559563.0,822887.0,75.05,2272432.0,14.32,NaN,NaN
9,6.0,LG화학,770000.0,6000.0,-0.77%,5000.0,543561.0,70592.0,46.61,230763.0,20.74,2.93,NaN
10,7.0,카카오,116500.0,1500.0,-1.27%,100.0,518416.0,444992.0,30.35,2315416.0,108.57,2.70,NaN
11,8.0,삼성SDI,707000.0,11000.0,-1.53%,5000.0,486165.0,68765.0,44.94,183726.0,52.38,4.54,NaN
12,9.0,현대차,193500.0,6500.0,-3.25%,5000.0,413448.0,213668.0,28.53,1175466.0,14.02,2.04,NaN
13,10.0,셀트리온,248000.0,11500.0,-4.43%,1000.0,342078.0,137935.0,20.63,1004304.0,58.15,16.68,NaN
17,11.0,기아,78300.0,2900.0,-3.57%,5000.0,317400.0,405363.0,34.56,1771205.0,9.14,5.05,NaN
18,12.0,카카오뱅크,65500.0,2900.0,-4.24%,5000.0,311191.0,475100.0,5.67,1348143.0,211.97,5.08,NaN
19,13.0,POSCO,324000.0,6000.0,-1.82%,5000.0,282485.0,87187.0,55.02,301269.0,7.33,3.61,NaN
20,14.0,크래프톤,498000.0,4000.0,-0.80%,100.0,243778.0,48951.0,6.18,169713.0,42.88,61.86,NaN
21,15.0,SK이노베이션,263500.0,1500.0,-0.57%,5000.0,243647.0,92466.0,24.27,405500.0,-54.59,-13.58,NaN
25,16.0,현대모비스,249500.0,3500.0,-1.38%,5000.0,236509.0,94793.0,35.02,241781.0,10.71,4.66,NaN
26,17.0,SK텔레콤,327000.0,3000.0,+0.93%,500.0,235637.0,72060.0,44.48,306849.0,12.41,6.44,NaN
27,18.0,KB금융,55200.0,100.0,-0.18%,5000.0,229526.0,415808.0,68.08,1542915.0,5.44,8.53,NaN
28,19.0,삼성물산,121500.0,2000.0,-1.62%,100.0,227068.0,186887.0,15.14,238543.0,13.86,3.81,NaN
29,20.0,SK바이오사이언스,273500.0,3000.0,+1.11%,500.0,209228.0,76500.0,5.59,702692.0,133.22,13.25,NaN
33,21.0,LG생활건강,1331000.0,6000.0,-0.45%,5000.0,207878.0,15618.0,45.31,22396.0,27.95,17.92,NaN
34,22.0,LG전자,125500.0,2000.0,-1.57%,5000.0,205378.0,163648.0,30.28,1090818.0,15.18,13.23,NaN
35,23.0,신한지주,39700.0,700.0,-1.73%,5000.0,205090.0,516600.0,60.77,1373627.0,5.14,8.20,NaN
36,24.0,SK,262500.0,5500.0,-2.05%,200.0,184696.0,70360.0,19.73,137066.0,16.94,1.11,NaN
37,25.0,SK아이이테크놀로지,227500.0,1500.0,+0.66%,1000.0,162202.0,71298.0,9.80,319783.0,149.57,11.00,NaN
41,26.0,한국전력,23450.0,100.0,-0.42%,5000.0,150541.0,641964.0,15.04,1462022.0,12.63,2.91,NaN
42,27.0,LG,93000.0,0.0,0.00%,5000.0,146290.0,157301.0,33.61,233006.0,5.83,7.50,NaN
43,28.0,삼성생명,71700.0,1700.0,-2.32%,500.0,143400.0,200000.0,13.00,316357.0,8.19,3.53,NaN
44,29.0,포스코케미칼,178500.0,1500.0,+0.85%,500.0,138272.0,77463.0,8.09,725020.0,128.97,2.96,NaN
45,30.0,하나금융지주,45850.0,550.0,-1.19%,5000.0,137661.0,300242.0,68.32,923054.0,4.52,8.96,NaN
49,31.0,엔씨소프트,595000.0,8000.0,-1.33%,500.0,130626.0,21954.0,45.45,232326.0,31.94,20.83,NaN
50,32.0,HMM,31800.0,1900.0,-5.64%,5000.0,128915.0,405392.0,9.63,12482603.0,20.14,8.93,NaN
51,33.0,삼성전기,169500.0,8000.0,-4.51%,5000.0,126606.0,74694.0,32.90,697765.0,14.78,10.92,NaN
52,34.0,S-Oil,110500.0,500.0,+0.45%,2500.0,124404.0,112583.0,78.39,187257.0,14.21,-13.07,NaN
53,35.0,삼성에스디에스,158000.0,2500.0,-1.56%,500.0,122257.0,77378.0,11.50,87191.0,18.97,6.71,NaN
57,36.0,대한항공,33650.0,50.0,-0.15%,5000.0,117042.0,347821.0,12.70,2811930.0,17.52,-7.22,NaN
58,37.0,하이브,291500.0,7000.0,-2.35%,500.0,113833.0,39051.0,16.35,324534.0,103.70,12.52,NaN
59,38.0,삼성화재,237500.0,2500.0,+1.06%,500.0,112515.0,47375.0,48.77,97217.0,11.25,4.96,NaN
60,39.0,KT&G,80800.0,400.0,-0.49%,5000.0,110932.0,137292.0,36.79,279778.0,10.02,13.22,NaN
61,40.0,두산중공업,19700.0,850.0,-4.14%,5000.0,101765.0,516572.0,9.45,5292904.0,-46.79,-37.20,NaN
65,41.0,아모레퍼시픽,173500.0,5000.0,-2.80%,500.0,101485.0,58493.0,32.05,218084.0,80.51,0.78,NaN
66,42.0,현대중공업,113500.0,2000.0,-1.73%,5000.0,100757.0,88773.0,1.38,1195118.0,-10.26,-7.86,NaN
67,43.0,넷마블,115000.0,3000.0,-2.54%,100.0,98847.0,85954.0,22.83,112781.0,34.54,6.35,NaN
68,44.0,고려아연,499000.0,4000.0,-0.80%,5000.0,94161.0,18870.0,19.48,46282.0,13.02,8.37,NaN
69,45.0,우리금융지주,11500.0,150.0,-1.29%,5000.0,83727.0,728061.0,28.82,1860883.0,4.02,5.87,NaN
73,46.0,KT,32000.0,600.0,-1.84%,5000.0,83556.0,261112.0,44.29,853218.0,9.14,4.76,NaN
74,47.0,롯데케미칼,242000.0,500.0,+0.21%,5000.0,82947.0,34275.0,26.31,158549.0,6.94,1.22,NaN
75,48.0,한화솔루션,42950.0,1850.0,-4.13%,5000.0,82154.0,191278.0,18.57,1587734.0,10.65,5.30,NaN
76,49.0,한온시스템,15100.0,550.0,-3.51%,100.0,80604.0,533800.0,18.10,874055.0,27.71,5.09,NaN
77,50.0,SK바이오팜,101000.0,1000.0,-0.98%,500.0,79096.0,78313.0,6.34,199479.0,-133.60,-135.18,NaN

In [23]:
코스피500[1]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,51.0,기업은행,10400.0,100.0,-0.95%,5000.0,77407.0,744301.0,13.04,1528579.0,4.37,6.44,NaN
2,52.0,한국조선해양,97000.0,5000.0,-4.90%,5000.0,68650.0,70773.0,18.88,527005.0,-4.43,-7.42,NaN
3,53.0,LG디스플레이,18500.0,450.0,-2.37%,5000.0,66196.0,357816.0,16.55,1901646.0,5.56,-0.79,NaN
4,54.0,LG유플러스,15050.0,50.0,+0.33%,5000.0,65710.0,436611.0,33.91,1693513.0,11.35,6.46,NaN
5,55.0,SKC,165000.0,4000.0,-2.37%,5000.0,62483.0,37868.0,13.79,767503.0,143.48,2.21,NaN
9,56.0,현대제철,45900.0,1450.0,-3.06%,5000.0,61252.0,133446.0,20.75,933478.0,25.36,-2.59,NaN
10,57.0,강원랜드,28400.0,250.0,-0.87%,500.0,60759.0,213940.0,19.52,603306.0,-64.55,-7.92,NaN
11,58.0,현대글로비스,161500.0,5000.0,-3.00%,500.0,60562.0,37500.0,34.48,165040.0,8.98,12.45,NaN
12,59.0,CJ제일제당,401000.0,8500.0,-2.08%,5000.0,60367.0,15054.0,24.60,59136.0,13.98,13.50,NaN
13,60.0,현대건설,50300.0,1100.0,-2.14%,5000.0,56012.0,111356.0,21.71,434936.0,45.40,1.84,NaN
17,61.0,F&F,729000.0,20000.0,+2.82%,500.0,55852.0,7661.0,12.07,59355.0,NaN,NaN,NaN
18,62.0,금호석유,180000.0,9000.0,-4.76%,5000.0,54842.0,30468.0,20.51,291795.0,4.26,20.18,NaN
19,63.0,코웨이,73800.0,400.0,-0.54%,500.0,54464.0,73800.0,59.76,111816.0,12.79,31.51,NaN
20,64.0,미래에셋증권,8500.0,160.0,-1.85%,5000.0,54002.0,635316.0,13.75,1048950.0,6.45,8.94,NaN
21,65.0,맥쿼리인프라,13000.0,200.0,+1.56%,0.0,52630.0,404846.0,14.66,2083977.0,NaN,NaN,NaN
25,66.0,한국타이어앤테크놀로지,41500.0,1750.0,-4.05%,500.0,51408.0,123875.0,41.85,272025.0,8.33,5.12,NaN
26,67.0,현대중공업지주,64000.0,700.0,-1.08%,1000.0,50556.0,78993.0,17.47,144796.0,-14.78,-8.12,NaN
27,68.0,삼성엔지니어링,25450.0,100.0,-0.39%,5000.0,49882.0,196000.0,33.81,2128333.0,15.80,17.32,NaN
28,69.0,KODEX 200,39445.0,750.0,-1.87%,0.0,48793.0,123700.0,2.89,4197645.0,NaN,NaN,NaN
29,70.0,LG이노텍,204000.0,4500.0,-2.16%,5000.0,48281.0,23667.0,27.48,120819.0,8.83,10.20,NaN
33,71.0,한국금융지주,85600.0,700.0,-0.81%,5000.0,47701.0,55726.0,35.07,177868.0,4.07,16.27,NaN
34,72.0,일진머티리얼즈,103000.0,1000.0,-0.96%,500.0,47494.0,46111.0,10.95,633997.0,99.81,7.23,NaN
35,73.0,DB손해보험,65200.0,1600.0,+2.52%,500.0,46162.0,70800.0,42.86,113576.0,6.69,9.08,NaN
36,74.0,오리온,116000.0,1500.0,-1.28%,500.0,45862.0,39536.0,39.57,74704.0,19.03,15.50,NaN
37,75.0,에스디바이오센서,44250.0,900.0,-1.99%,500.0,45698.0,103271.0,2.90,799567.0,6.71,139.97,NaN
41,76.0,이마트,158500.0,6000.0,-3.65%,5000.0,44183.0,27876.0,35.07,205072.0,7.82,4.05,NaN
42,77.0,한국가스공사,47650.0,1000.0,-2.06%,5000.0,43987.0,92313.0,7.96,1415232.0,17.45,-2.24,NaN
43,78.0,메리츠금융지주,32150.0,1500.0,-4.46%,500.0,43085.0,134011.0,8.29,87259.0,6.96,16.06,NaN
44,79.0,유한양행,61100.0,400.0,-0.65%,1000.0,42753.0,69973.0,18.15,171561.0,44.44,11.06,NaN
45,80.0,삼성증권,46800.0,1100.0,-2.30%,5000.0,41792.0,89300.0,30.19,260719.0,4.57,9.89,NaN
49,81.0,GS,44200.0,550.0,-1.23%,5000.0,41069.0,92915.0,19.27,185491.0,5.03,-2.82,NaN
50,82.0,팬오션,7680.0,130.0,+1.72%,1000.0,41055.0,534570.0,12.29,7385092.0,23.56,3.25,NaN
51,83.0,한미사이언스,59500.0,2600.0,-4.19%,500.0,40046.0,67305.0,1.68,145312.0,131.06,3.47,NaN
52,84.0,한진칼,59700.0,1500.0,-2.45%,2500.0,39843.0,66739.0,14.81,96871.0,-40.75,-19.55,NaN
53,85.0,쌍용C&E,7860.0,100.0,-1.26%,100.0,39603.0,503860.0,3.59,631263.0,25.35,7.92,NaN
57,86.0,삼성카드,34100.0,300.0,+0.89%,5000.0,39508.0,115859.0,7.99,168806.0,8.62,5.69,NaN
58,87.0,아모레G,47900.0,1150.0,-2.34%,500.0,39497.0,82458.0,16.87,140524.0,30.51,0.31,NaN
59,88.0,삼성중공업,6190.0,10.0,-0.16%,1000.0,38997.0,630000.0,14.05,3544830.0,-2.71,-33.06,NaN
60,89.0,두산밥캣,38900.0,1150.0,-2.87%,500.0,38997.0,100249.0,25.78,192842.0,10.23,6.15,NaN
61,90.0,한솔케미칼,339500.0,7000.0,-2.02%,5000.0,38483.0,11335.0,42.03,53949.0,27.03,24.50,NaN
65,91.0,OCI,160500.0,500.0,-0.31%,5000.0,38278.0,23849.0,20.60,618838.0,132.21,-9.89,NaN
66,92.0,녹십자,324000.0,7500.0,-2.26%,5000.0,37864.0,11687.0,21.38,50784.0,40.51,7.48,NaN
67,93.0,메리츠화재,30300.0,250.0,-0.82%,500.0,36549.0,120625.0,10.78,146388.0,6.91,16.91,NaN
68,94.0,NH투자증권,12650.0,250.0,-1.94%,5000.0,35598.0,281409.0,18.70,521368.0,4.50,10.32,NaN
69,95.0,GS건설,41550.0,1200.0,-2.81%,5000.0,35559.0,85581.0,26.46,427412.0,10.96,7.68,NaN
73,96.0,KCC,399500.0,16500.0,-3.97%,5000.0,35501.0,8886.0,13.81,71832.0,4.16,12.79,NaN
74,97.0,롯데지주,33100.0,600.0,-1.78%,200.0,34725.0,104909.0,8.19,129620.0,47.29,-3.03,NaN
75,98.0,SK케미칼,294000.0,10000.0,+3.52%,5000.0,34549.0,11751.0,17.03,322174.0,37.35,30.49,NaN
76,99.0,CJ대한통운,150500.0,2500.0,-1.63%,5000.0,34333.0,22812.0,22.71,33319.0,98.62,3.89,NaN
77,100.0,현대차2우B,92800.0,2700.0,-2.83%,5000.0,33858.0,36485.0,60.89,105551.0,6.72,NaN,NaN

In [24]:
코스피500[9]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,451.0,테이팩스,74500.0,5700.0,-7.11%,500.0,3515.0,4718.0,3.22,82831.0,21.64,12.86,NaN
2,452.0,이아이디,420.0,4.0,+0.96%,200.0,3509.0,835583.0,0.61,31456217.0,210.00,-15.35,NaN
3,453.0,일진홀딩스,7110.0,70.0,-0.97%,1000.0,3509.0,49347.0,4.16,767371.0,23.24,3.51,NaN
4,454.0,KINDEX 200TR,24085.0,505.0,-2.05%,0.0,3492.0,14500.0,0.00,3022.0,NaN,NaN,NaN
5,455.0,모토닉,10550.0,350.0,-3.21%,500.0,3482.0,33000.0,10.84,44998.0,21.62,3.61,NaN
9,456.0,금호석유우,114000.0,4000.0,-3.39%,5000.0,3447.0,3023.0,15.62,45869.0,2.70,NaN,NaN
10,457.0,현대리바트,16750.0,450.0,-2.62%,1000.0,3440.0,20535.0,5.00,62457.0,19.96,5.66,NaN
11,458.0,삼진제약,24700.0,350.0,-1.40%,1000.0,3433.0,13900.0,13.02,53647.0,13.02,13.57,NaN
12,459.0,농심홀딩스,74000.0,0.0,0.00%,5000.0,3432.0,4638.0,2.30,3405.0,6.49,7.23,NaN
13,460.0,CJ4우(전환),80800.0,900.0,-1.10%,5000.0,3415.0,4227.0,4.75,15672.0,55.23,NaN,NaN
17,461.0,휴비스,9890.0,160.0,-1.59%,5000.0,3412.0,34500.0,3.78,129357.0,4.16,19.01,NaN
18,462.0,KODEX 코스피,30345.0,555.0,-1.80%,0.0,3399.0,11200.0,0.01,48024.0,NaN,NaN,NaN
19,463.0,환인제약,18250.0,400.0,-2.14%,500.0,3395.0,18600.0,14.53,44557.0,11.74,8.21,NaN
20,464.0,선진,14250.0,150.0,-1.04%,500.0,3389.0,23780.0,12.34,136068.0,4.14,24.25,NaN
21,465.0,디앤디플랫폼리츠,5260.0,20.0,-0.38%,1000.0,3387.0,64400.0,0.38,147388.0,NaN,-4.15,NaN
25,466.0,세진중공업,5940.0,90.0,-1.49%,500.0,3377.0,56849.0,0.70,227433.0,9.88,1.19,NaN
26,467.0,동부건설,14800.0,350.0,-2.31%,5000.0,3364.0,22732.0,2.67,152473.0,3.73,10.10,NaN
27,468.0,한독,24400.0,400.0,-1.61%,500.0,3358.0,13764.0,2.60,28094.0,10.67,7.47,NaN
28,469.0,삼성출판사,33500.0,2000.0,-5.63%,500.0,3350.0,10000.0,0.85,89651.0,6.69,45.58,NaN
29,470.0,계룡건설,37450.0,1650.0,-4.22%,5000.0,3345.0,8931.0,23.93,91825.0,2.71,18.69,NaN
33,471.0,TYM,2365.0,5.0,+0.21%,500.0,3343.0,141365.0,3.74,8513078.0,27.50,2.98,NaN
34,472.0,한농화성,21100.0,700.0,-3.21%,500.0,3299.0,15637.0,1.11,6317915.0,20.77,10.34,NaN
35,473.0,KBSTAR ESG사회책임투자,12625.0,270.0,-2.09%,0.0,3276.0,25950.0,0.06,22349.0,NaN,NaN,NaN
36,474.0,진흥기업,2250.0,60.0,-2.60%,500.0,3273.0,145472.0,1.61,866122.0,7.05,18.86,NaN
37,475.0,한세예스24홀딩스,8160.0,170.0,-2.04%,500.0,3264.0,40000.0,4.27,34537.0,3.55,16.99,NaN
41,476.0,일동제약,13700.0,200.0,-1.44%,1000.0,3261.0,23803.0,4.40,44078.0,-16.91,-5.13,NaN
42,477.0,하이트진로홀딩스,14050.0,100.0,-0.71%,5000.0,3261.0,23207.0,4.73,16570.0,5.81,13.89,NaN
43,478.0,삼부토건,2360.0,90.0,+3.96%,1000.0,3246.0,137546.0,3.87,11012783.0,-42.14,-8.73,NaN
44,479.0,삼성 레버리지 천연가스 선물 ETN B,32305.0,3875.0,+13.63%,0.0,3230.0,10000.0,0.00,68139.0,NaN,NaN,NaN
45,480.0,신도리코,32000.0,400.0,-1.23%,5000.0,3226.0,10080.0,17.64,22887.0,40.51,-1.56,NaN
49,481.0,KODEX 선진국MSCI World,19875.0,460.0,-2.26%,0.0,3220.0,16200.0,0.00,47896.0,NaN,NaN,NaN
50,482.0,세종공업,11550.0,700.0,-5.71%,500.0,3213.0,27821.0,1.61,943713.0,26.55,-4.69,NaN
51,483.0,SNT중공업,9650.0,170.0,-1.73%,2500.0,3209.0,33253.0,7.09,11392.0,5.39,1.37,NaN
52,484.0,코리아써키트,13450.0,400.0,+3.07%,500.0,3177.0,23621.0,2.65,2949248.0,38.54,3.39,NaN
53,485.0,세아제강,112000.0,3000.0,-2.61%,5000.0,3177.0,2836.0,10.03,8504.0,6.56,5.67,NaN
57,486.0,KBSTAR Fn수소경제테마,12360.0,370.0,-2.91%,0.0,3152.0,25500.0,0.04,325485.0,NaN,NaN,NaN
58,487.0,풍산홀딩스,30200.0,250.0,-0.82%,5000.0,3144.0,10410.0,10.45,21526.0,2.35,1.92,NaN
59,488.0,엘브이엠씨홀딩스,3150.0,90.0,-2.78%,0.0,3133.0,99455.0,16.45,227187.0,-9.94,-7.20,NaN
60,489.0,금호에이치티,2260.0,140.0,-5.83%,500.0,3110.0,137611.0,1.91,14485703.0,-98.26,-4.85,NaN
61,490.0,TIGER 차이나항셍테크,8005.0,65.0,-0.81%,0.0,3082.0,38500.0,0.14,253983.0,NaN,NaN,NaN
65,491.0,남양유업,428000.0,500.0,-0.12%,5000.0,3082.0,720.0,15.88,3138.0,-7.38,-6.04,NaN
66,492.0,광주신세계,192000.0,3000.0,-1.54%,5000.0,3072.0,1600.0,12.32,1914.0,6.50,6.35,NaN
67,493.0,자화전자,17150.0,950.0,-5.25%,500.0,3070.0,17900.0,6.63,132167.0,21.30,-2.30,NaN
68,494.0,삼아알미늄,27750.0,1200.0,-4.15%,500.0,3052.0,11000.0,33.91,376317.0,46.88,3.20,NaN
69,495.0,무학,10550.0,650.0,-5.80%,200.0,3007.0,28500.0,14.64,202676.0,8.63,2.55,NaN
73,496.0,KBSTAR 단기통안채,104610.0,5.0,0.00%,0.0,2996.0,2864.0,0.00,11299.0,NaN,NaN,NaN
74,497.0,신원,3500.0,335.0,+10.58%,500.0,2976.0,85042.0,1.46,59017294.0,97.22,-3.92,NaN
75,498.0,SNT홀딩스,18250.0,600.0,-3.18%,500.0,2975.0,16304.0,11.33,11035.0,4.34,4.62,NaN
76,499.0,케이씨,21800.0,400.0,-1.80%,500.0,2955.0,13554.0,6.85,49326.0,7.19,9.19,NaN
77,500.0,미원홀딩스,127000.0,1000.0,-0.78%,500.0,2946.0,2320.0,1.00,1896.0,10.77,11.35,NaN

In [26]:
data = pd.concat(코스피500)

In [27]:
# HTML 문서로도 변환하기
# 코스피 시가총액 상위 500개 기업 데이터가 저장된 HTML 문서가 생성
data.to_html('data/코스피500데이터.html', encoding = 'cp949')

In [ ]:
# read_html() 이 정상적으로 실행되지 않는 사례 분석
# HTML 문서 내에 테이블 형태의 데이터가 아닌 데이터를 읽어 오고자 하는 경우
# 웹 사이트가 로딩되면서 데이터를 동적으로 읽어 오는 경우
# read_html() 함수만으로 내가 원하는 데이터를 가져오지 못하는 경우가 발생

In [29]:
# 삼성전자 일별 시세 내역 가져오기
삼성전자url = 'https://finance.naver.com/item/sise.naver?code=005930'
data = pd.read_html(삼성전자url, encoding = 'cp949')
data

[                    0                                        1  \
 0  전일  74,100  74,100  고가  74,00074,000  (상한가  96,30096,300  )
 1    시가  73,90073,900        저가  72,90072,900  (하한가  51,900  )

                                 2
 0     거래량  15,704,195  15,704,195
 1  거래대금  1,150,188  1,150,188  백만  ,
            0            1       2           3
 0        현재가        73200    매도호가       73200
 1       전일대비      하락  900    매수호가       73100
 2     등락률(%)       -1.21%     전일가       74100
 3        거래량     15704195      시가       73900
 4   거래대금(백만)      1150188      고가       74000
 5        액면가         100원      저가       72900
 6        NaN          NaN     NaN         NaN
 7        상한가        96300    전일상한       96300
 8        하한가        51900    전일하한       51900
 9        PER        15.41     EPS        4749
 10    52주 최고        96800  52주 최저       56000
 11      시가총액  4,369,881억원   상장주식수  5969782550
 12     외국인현재  3,095,733천주     자본금   778,046백만,
         매도잔량     매도호가  Unnamed: 2     매수호가      매수잔량
 0        NaN      NaN         NaN      NaN       NaN
 1    30640.0  73600.0         NaN      NaN       NaN
 2   150830.0  73500.0         NaN      NaN       NaN
 3   190933.0  73400.0         NaN      NaN       NaN
 4   205999.0  73300.0         NaN      NaN       NaN
 5    83040.0  73200.0         NaN      NaN       NaN
 6        NaN      NaN         NaN      NaN       NaN
 7        NaN      NaN         NaN      NaN       NaN
 8        NaN      NaN         NaN      NaN       NaN
 9        NaN      NaN         NaN  73100.0  125682.0
 10       NaN      NaN         NaN  73000.0  145998.0
 11       NaN      NaN         NaN  72900.0  397281.0
 12       NaN      NaN         NaN  72800.0  300327.0
 13       NaN      NaN         NaN  72700.0  244797.0
 14       NaN      NaN         NaN      NaN       NaN,
         0     1        2
 0  797618  잔량합계  1967253,
           0                1
 0      시가총액  436조  9,881  억원
 1    시가총액순위           코스피 1위
 2     상장주식수       5969782550
 3  액면가l매매단위      100원  l  1주,
              0           1
 0  외국인한도주식수(A)  5969782550
 1  외국인보유주식수(B)  3095733139
 2  외국인소진율(B/A)      51.86%,
            0                  1
 0  투자의견l목표주가  3.95매수  l  99,190
 1   52주최고l최저  96,800  l  56,000,
                    0                  1
 0   PERlEPS(2021.06)  15.41배  l  4,749원
 1          추정PERlEPS  13.00배  l  5,818원
 2  PBRlBPS (2021.06)     ∞배  l  40,361원
 3      배당수익률l2020.12              4.09%,
           0       1
 0  동일업종 PER  13.36배
 1  동일업종 등락률  -1.58%,
         매도잔량 호가(20분지연)       매수잔량
 0        NaN       NaN        NaN
 1    28261.0     74100        NaN
 2    46569.0     74000        NaN
 3    15600.0     73900        NaN
 4    25314.0     73800        NaN
 5    20432.0     73700        NaN
 6    30640.0     73600        NaN
 7   150830.0     73500        NaN
 8   190933.0     73400        NaN
 9   205999.0     73300        NaN
 10   83040.0     73200        NaN
 11       NaN       NaN        NaN
 12       NaN     73100   125682.0
 13       NaN     73000   145998.0
 14       NaN     72900   397281.0
 15       NaN     72800   300327.0
 16       NaN     72700   244797.0
 17       NaN     72600   195923.0
 18       NaN     72500   414276.0
 19       NaN     72400    44771.0
 20       NaN     72300    57041.0
 21       NaN     72200    41157.0
 22       NaN       NaN        NaN
 23  797618.0      잔량합계  1967253.0,
             업체명       거래량        전일비
 0          삼성전자   73200.0    하향  900
 1        한국조선해양   97000.0  하향  5,000
 2           카카오  116500.0  하향  1,500
 3        코오롱인더우   44000.0  하향  1,250
 4          유한양행   61100.0    하향  400
 5           NaN       NaN        NaN
 6     TIGER 200   39485.0    하향  770
 7        SK하이닉스  100000.0  하향  3,000
 8   KODEX 골드선..   11870.0    상향  170
 9          신한지주   39700.0    하향  700
 10         LG화학  770000.0  하향  6,000,
          업체명       거래량         전일비
 0       펄어비스   85300.0   상향  4,900
 1         디딤    1905.0      하향  45
 2      박셀바이오   65500.0   하향  3,100
 3     에코프로비엠  451000.0  하향  16,000
 4   이노인스트루..    2120.0      하향  55
 5        NaN       NaN         NaN
 6        신라젠   12100.0          보합
 7       알테오젠   71300.0   하향  1,300
 8     인텔리안테크   76500.0   상향  4,300
 9   사람인에이치..   46700.0   하향  1,300
 10       에코캡    9640.0   상향  2,210]

In [30]:
# 해당 웹 사이트에 테이블 형태의 데이터가 많기 때문에 데이터프레임의 리스트 형태로 저장되어 있다.
data[0]

,0,1,2
0,"전일 74,100 74,100","고가 74,00074,000 (상한가 96,30096,300 )","거래량 15,704,195 15,704,195"
1,"시가 73,90073,900","저가 72,90072,900 (하한가 51,900 )","거래대금 1,150,188 1,150,188 백만"

In [ ]:
# 찾는 데이터가 없는 이유
# 또 다른 웹 페이지를 임베딩(embedding)한 경우임으로 데이터를 가지고 올 수 없음
# '페이지 소스 보기'를 보면 웹 사이트의 HTML 문서를 볼 수 있음
# iframe : 웹 페이지 내에 또 다른 웹 페이지가 있음을 의미함

In [31]:
# url을 일별 시세로 바꿈
삼성전자url = 'https://finance.naver.com/item/sise_day.naver?code=005930'
data = pd.read_html(삼성전자url, encoding = 'cp949')
data

ValueError: No tables found

In [ ]:
# No tables found 에러가 발생하는 이유
# 데이터 로딩이 완료되기 전에 read_html() 함수가 실행되어 데이터를 읽어 올 수 없기 때문

### 3) Selenium 라이브러리 활용  

* selenium 설치: conda install selenium
* chromedriver 다운로드 : https://sites.google.com/a/chromium.org/chromedriver/downloads

In [32]:
# selenium을 활용한 동적 웹페이지 스크래핑
from selenium import webdriver

In [33]:
# webdriver를 사용해 크롬 브라우저를 활용하기
# Chrome() 함수의 인자에 chromedriver 파일의 경로를 지정
driver = webdriver.Chrome('chromedriver')

In [34]:
# 데이터 로딩할 시간을 줌
driver.implicitly_wait(3)

In [38]:
# Selenium 라이브러리가 이 URL을 실행하면 자동으로 이 페이지를 띄워서 접근하는 것을 확인해 볼 수 있음
driver.get(삼성전자url)

In [39]:
# selenium에 의해서 수행된 웹 사이트의 html 문서가 저장됨
html = driver.page_source

In [42]:
# 저장된 html 문서를 read_html() 문서로 읽어 봄
data = pd.read_html(html, encoding = 'cp949')

In [43]:
data[0]

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2021.10.01  73200.0   900.0  73900.0  74000.0  72900.0  15704195.0
2   2021.09.30  74100.0     0.0  74300.0  74800.0  73700.0  19919361.0
3   2021.09.29  74100.0  2200.0  74800.0  75300.0  73800.0  23992458.0
4   2021.09.28  76300.0  1400.0  77700.0  77800.0  76200.0  15406382.0
5   2021.09.27  77700.0   400.0  77300.0  77700.0  77000.0  11699798.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2021.09.24  77300.0   100.0  77600.0  77700.0  77100.0  12247274.0
10  2021.09.23  77400.0   200.0  77500.0  77600.0  76800.0  17055590.0
11  2021.09.17  77200.0  1100.0  76300.0  77200.0  75900.0  16289502.0
12  2021.09.16  76100.0   900.0  77300.0  77400.0  76100.0  13067622.0
13  2021.09.15  77000.0   400.0  77400.0  77400.0  76400.0  12829128.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [44]:
삼성_일별 = data[0][data[0].날짜.notnull()]
삼성_일별

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.10.01  73200.0   900.0  73900.0  74000.0  72900.0  15704195.0
2   2021.09.30  74100.0     0.0  74300.0  74800.0  73700.0  19919361.0
3   2021.09.29  74100.0  2200.0  74800.0  75300.0  73800.0  23992458.0
4   2021.09.28  76300.0  1400.0  77700.0  77800.0  76200.0  15406382.0
5   2021.09.27  77700.0   400.0  77300.0  77700.0  77000.0  11699798.0
9   2021.09.24  77300.0   100.0  77600.0  77700.0  77100.0  12247274.0
10  2021.09.23  77400.0   200.0  77500.0  77600.0  76800.0  17055590.0
11  2021.09.17  77200.0  1100.0  76300.0  77200.0  75900.0  16289502.0
12  2021.09.16  76100.0   900.0  77300.0  77400.0  76100.0  13067622.0
13  2021.09.15  77000.0   400.0  77400.0  77400.0  76400.0  12829128.0

In [64]:
# 실습. 모든 기간의 삼성전자 일별 데이터를 스크래핑 해 하나의 데이터프레임으로 저장하기
일별주가 = []
삼성전자url = 'https://finance.naver.com/item/sise_day.naver?code=005930&page='

for num in range(1, 200): # for num in range(1, 619)
    full_url = 삼성전자url + str(num)
    driver.get(full_url)
    html = driver.page_source
    data = pd.read_html(html, encoding = 'cp949')
    삼성_일별 = data[0][data[0].날짜.notnull()]
    일별주가.append(삼성_일별)

In [65]:
일별주가[0]

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.10.01  73200.0   900.0  73900.0  74000.0  72900.0  15704195.0
2   2021.09.30  74100.0     0.0  74300.0  74800.0  73700.0  19919361.0
3   2021.09.29  74100.0  2200.0  74800.0  75300.0  73800.0  23992458.0
4   2021.09.28  76300.0  1400.0  77700.0  77800.0  76200.0  15406382.0
5   2021.09.27  77700.0   400.0  77300.0  77700.0  77000.0  11699798.0
9   2021.09.24  77300.0   100.0  77600.0  77700.0  77100.0  12247274.0
10  2021.09.23  77400.0   200.0  77500.0  77600.0  76800.0  17055590.0
11  2021.09.17  77200.0  1100.0  76300.0  77200.0  75900.0  16289502.0
12  2021.09.16  76100.0   900.0  77300.0  77400.0  76100.0  13067622.0
13  2021.09.15  77000.0   400.0  77400.0  77400.0  76400.0  12829128.0

In [66]:
일별주가[1]

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.09.14  76600.0   300.0  77100.0  77700.0  76600.0  18167057.0
2   2021.09.13  76300.0  1000.0  75200.0  76300.0  75100.0  11397775.0
3   2021.09.10  75300.0     0.0  75300.0  75600.0  74800.0  10103212.0
4   2021.09.09  75300.0  1000.0  76400.0  76600.0  75000.0  17600770.0
5   2021.09.08  76300.0   200.0  76000.0  76400.0  75600.0  11798147.0
9   2021.09.07  76100.0  1200.0  77100.0  77100.0  75900.0  13239401.0
10  2021.09.06  77300.0   700.0  76800.0  77600.0  76600.0  12861180.0
11  2021.09.03  76600.0   600.0  76400.0  76700.0  76000.0  12096419.0
12  2021.09.02  76000.0   800.0  76800.0  76800.0  75700.0  15347486.0
13  2021.09.01  76800.0   100.0  76700.0  77100.0  75900.0  16114775.0

In [ ]:
# 크롬 브라우저의 경우 자동으로 페이지를 넘어가면서 스캔한 후 HTML을 읽어 구문에 맞게 데이터가 저장

In [67]:
삼성전자_일별_최종데이터 = pd.concat(일별주가)

In [68]:
삼성전자_일별_최종데이터

,날짜,종가,전일비,시가,고가,저가,거래량
1,2021.10.01,73200.0,900.0,73900.0,74000.0,72900.0,15704195.0
2,2021.09.30,74100.0,0.0,74300.0,74800.0,73700.0,19919361.0
3,2021.09.29,74100.0,2200.0,74800.0,75300.0,73800.0,23992458.0
4,2021.09.28,76300.0,1400.0,77700.0,77800.0,76200.0,15406382.0
5,2021.09.27,77700.0,400.0,77300.0,77700.0,77000.0,11699798.0
...,...,...,...,...,...,...,...
9,2013.09.02,1351000.0,17000.0,1368000.0,1371000.0,1350000.0,201632.0
10,2013.08.30,1368000.0,24000.0,1360000.0,1368000.0,1351000.0,342716.0
11,2013.08.29,1344000.0,35000.0,1317000.0,1348000.0,1314000.0,326300.0
12,2013.08.28,1309000.0,5000.0,1284000.0,1310000.0,1284000.0,189851.0
13,2013.08.27,1304000.0,4000.0,1307000.0,1309000.0,1295000.0,182616.0

In [69]:
# 모든 기간의 삼성전자 일별 데이터를 스크래핑 해 하나의 데이터프레임으로 저장하기
삼성전자_일별_최종데이터.to_excel('data/삼성전자_일별주가.xlsx', encoding = 'cp949')

## 4. 데이터베이스에서 읽기
### 파이썬에 내장(embedded)된 sqlite 사용

In [ ]:
# 데이터베이스
# 데이터를 관리하기 위해서 사용하는 프로그램으로써, 데이터베이스관리시스템(DBMS)이라고도 함
# sqlite를 활용한 데이터 읽고 쓰기
# sqlite 데이터베이스는 anaconda를 설치할 때 함께 설치됨

In [91]:
# 01.sqlite3 라이브러리 import 하기
import sqlite3

In [92]:
# 02.SQL 문법에 맞춰 테이블을 생성하는 구문 만들기
#테이블 생성 SQL 정의
# a,b,c 세 개의 값을 가진 locations 테이블을 생성하는 구문
# 칼럼들의 데이터 타입
테이블생성 = 'CREATE TABLE locations \
                (a varchar[20], b varchar[20], c integer)'

In [93]:
# 03.sqlite에 접속해 구문 실행하기
# sqlite 접속
# sqlite3.connect한 후 데이터베이스 명을 주어 conn 변수에 저장함
# sqlite에 접속하기 위한 커넥션 객체를 conn에 저장
conn = sqlite3.connect('temp.db')

In [94]:
#테이블 생성 SQL 수행 
conn.execute(테이블생성)

OperationalError: table locations already exists

In [95]:
# commit() 수행. - SQL 수행 후, commit을 해야만, 데이터베이스에 SQL 구문이 적용됨 
conn.commit()

In [ ]:
# 테이블을 생성하는 행위는 엑셀로 비유하면, 파일(혹은 sheet)을 새로 만들고 이름을 locations라고 하고, 
# a,b,c 컬럼을 저장하는 틀을만든 것과 같다.

In [96]:
#생성된 테이블에 저장할 데이터 정의
data = [['서울','강남', 15]
       ,['서울','강동', 10]
       ,['서울','동대문', 7]
       ,['서울','양천', 12]
       ,['성남','분당', 12]
       ,['수원','영통', 15]
       ,['성남','중원', 11]
       ,['수원','팔달', 14]
       ]

In [97]:
# 데이터 적재 SQL 정의 
# 생성된 테이블에 값 삽입하기
# 데이터 하나를 삽입하는 SQL 구문 : insert into
삽입 = 'insert into locations values(?,?,?)'

In [98]:
#데이터 적재 SQL 수행 
# 데이터의 개수만큼 수행하기 위해 executemany() 함수를 사용
# 첫 번째 인자 : SQL 구문(insert into)
# 두 번째 인자 : 삽입하고자 하는 데이터
conn.executemany(삽입, data)

In [99]:
# commit() 수행 
conn.commit()

In [101]:
#Select SQL 실행1
# pd.read_sql() 사용
# 첫 번째 인자 : [select] 구문
# 두 번째 인자 : [conn] 커넥션 인자
pd.read_sql('select * from locations', conn)

     a    b   c
0   서울   강남  15
1   서울   강동  10
2   서울  동대문   7
3   서울   양천  12
4   성남   분당  12
5   수원   영통  15
6   성남   중원  11
7   수원   팔달  14
8   서울   강남  15
9   서울   강동  10
10  서울  동대문   7
11  서울   양천  12
12  성남   분당  12
13  수원   영통  15
14  성남   중원  11
15  수원   팔달  14

In [102]:
#Select SQL 실행2
pd.read_sql('select a, sum(c) from locations group by a', conn)

    a  sum(c)
0  서울      88
1  성남      46
2  수원      58

In [103]:
# 크기가 큰 테이블의 데이터 읽어오기
# 데이터베이스의 테이블 크기가 큰 경우에는 cursor 사용하기
# Cursor를 활용하여 데이터 끊어서 읽어오기
# cursor : execute() 함수에 select 구문을 인자로 전달하면, select 구문을 실행할 준비가 된 Cursor 객체를 반환함
cursor = conn.execute('select * from locations')
cursor

In [104]:
# cursor.fetchmany(cnt) : cnt 개수만큼 데이터를 읽어옴
# cnt 개수만큼 데이터 끊어서 읽어 옴
cursor.fetchmany(2)

[('서울', '강남', 15), ('서울', '강동', 10)]

In [105]:
cursor.fetchmany(3)

[('서울', '동대문', 7), ('서울', '양천', 12), ('성남', '분당', 12)]

In [106]:
cursor.fetchmany(3)

[('수원', '영통', 15), ('성남', '중원', 11), ('수원', '팔달', 14)]

In [107]:
cursor.fetchmany(3)

[('서울', '강남', 15), ('서울', '강동', 10), ('서울', '동대문', 7)]

In [109]:
# 데이터를 끝까지 다 읽으면 비어 있는 리스트가 반환
cursor.fetchmany(10)

[]

In [110]:
# cursor나 데이터베이스의 conn(커넥션) 같은 경우 close() 를 해 주는 게 기본적인 자원 관리를 위해 필요함
cursor.close()
conn.close()