# Series (시리즈)의 개념
<img src="img/1강/Series개념.jpg" alt="datetime" style="width: 1200px;"/>

In [ ]:
# Series
# 01.1차원 데이터를 이해한다.
# 02.Series의 구조를 설명할 수 있다.
# 03.1차원 데이터를 저장한 Series를 생성할 수 있다.

In [ ]:
# 01.1차원 데이터를 이해한다.
# 스칼라(scalar)
# 하나의 값
# 벡터(vector)
# 여러 개의 값으로 이루어진 집합
# 벡터 = 배열(array) = 1차원 데이터
# 문자 하나하나는 스칼라고 문자가 여러 개로 이루어진 '빅데이터'와 같은 문자열의 경우도 벡터 즉, 일차원 데이터
# '빅데이터', 30, 100, '서울' 이러한 정보들도 여러 개의 스칼라 값들이 이루어져 있기 때문에 벡터

In [ ]:
# 파이썬의 1차원 데이터 타입
# 리스트(list)
# 대괄호로 표현되며, 대괄호 안에 각각의 값들을 콤마(,)로 구분해서 나열
# 튜플(tuple)
# 괄호로 표현되며, 괄호 안에 각각의 값들을 콤마(,)로 구분해서 나열
# 리스트는 한 번 생성하고 나서 항목을 수정, 삽입, 삭제할 수 있지만,
# 튜플은 한 번 생성하면 값을 변경할 수 없음
# 숫자 인덱스를 통해 각 리스트나 튜플에 있는 항목에 접근할 수 있음
# 사전(dict)
# 스칼라가 key와 value의 쌍으로 여러 개 나열되어 있기 때문에 사전 타입의 데이터들도 일차원 데이터, 벡터
# 중괄호로 표현되며, 중괄호 안에 key와 value는 콜론(:)으로 구분해서 데이터를 기입하여 사전 타입의 변수를 생성할 수 있음

In [ ]:
# pandas의 데이터 타입
# Series
# numpy.ndarray를 기반으로 구현
# numpy는 데이터 분석에 많이 활용되는 python library 중 하나
# 인덱스(index)와 값(value)으로 구성
# 인덱스(index)는 사전 타입의 key와 같은 역할을 하며, 각각의 값의 제목이라고 생각하면 됨
# 인덱스(index)
# 숫자 인덱스 : 0부터 시작하여 자동부여
# 문자 인덱스(인덱스 라벨) : 인덱스에 이름(의미)을 부여
# 숫자 인덱스가 단순히 순서의 의미만 가지고 있다면, 인덱스 라벨은 각각의 값들에 대해 의미와 제목을 부여
# 값(value) : 데이터
# 모든 데이터 타입 가능(정수, 실수, 문자열, 리스트, 튜플 등)
# 일차원 데이터에 들어가는 각각의 값의 데이터 타입이 모두 동일할 필요는 없음
# 시리즈는 python의 리스트와 사전 타입의 하이브리드 형태
# 숫자 인덱스로 시리즈를 활용하는 경우에는 리스트와 비슷한 형태
# 문자 인덱스로 시리즈를 활용하는 경우에는 사전 타입과 비슷한 형태
# Series는 python의 사전 타입이나 리스트에서 제공하지 않는 다양하고 편리한 기능을 함수를 통해 제공해 주는 데이터 타입

# pandas 라이브러리 import 하기

In [ ]:
# pandas 라이브러리
# 외부 라이브러리(third party 라이브러리), 즉 추가적인 라이브러리임
# pandas는 반드시 라이브러리를 import 해야 함

In [1]:
# Python의 리스트(List) 타입의 데이터 생성하기
data = [3,5,1,2]
data

[3, 5, 1, 2]

In [2]:
# Pandas의 Series 타입의 데이터 생성하기
pandas.Series([3,5,1,2])

NameError: name 'pandas' is not defined

In [5]:
# pandas 라이브러리 임포트하기 (1)
# 01.import 구문 사용하기
# pandas에 있는 기능을 사용하려면 'pandas.'이라는 문구를 써야 함
import pandas
pandas.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [6]:
# pandas 라이브러리 임포트하기 (2)
# 02.별칭을 사용해서 import 하기
# 'as'라고 하는 키워드를 쓰고 뒤에 사용하기 편한 별칭을 줌
# 보통 줄임말을 사용함
import pandas as pd
pd.Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

In [7]:
# pandas 라이브러리 임포트하기 (3)
# 03.명시적으로 특정 기능이나 객체를 import 하기
# 'Series'라고 선언하면, '이 Series'는 pandas로부터 import 한 것이다.'라고 명시적으로 알려주는 것
from pandas import Series
Series([3,5,1,2])

0    3
1    5
2    1
3    2
dtype: int64

#  Series 생성
 - 1차원 데이터를 저장하는 파이썬의 데이터타입인 리스트, 튜플, 사전 타입 등을 이용해서 Series 객체를 생성해 보고, Series 객체의 특징들을 살펴보도록 하겠습니다.

In [ ]:
# Series 생성하기
# 생성자를 통해 생성하며, 몇 가지 인자가 있음
# 아무런 인자를 주지 않고 생성하면 빈 객체가 생성
# 데이터나 인덱스와 같은 인자를 지정해서 생성하면 그에 합당한 데이터를 가진 시리즈를 생성
# 5개의 인자(data, index, dtype, name, copy)
# data : 하나의 값(스칼라) 혹은 1차원 데이터(벡터)
# index : 인덱스 라벨 지정(data의 크기와 동일해야 함)
# dtype : 값의 데이터 타입 지정. 미지정 시, 자동 지정
# data 인자의 데이터를 기반으로 자동으로 데이터 타입이 지정되는 것이 기본
# dtype을 지정하지 않으면 자동으로 적절한 데이터 타입으로 지정
# 명시적으로 데이터 타입을 지정하고 싶은 경우(e.f. 숫자형 데이터를 문자로 처리하고 싶다면?) 'dtype'을 '문자'라는 형태로 데이터 타입을 명시적으로 지정
# name : 이름 설정
# copy : 입력 데이터 복사 여부

### 1) List를 사용하여 Series 생성하기

In [101]:
# 'arr'로 리스트 타입 변수 선언
# 리스트 타입 변수를 인자로 넘겨주면 동일한 값을 가진 시리즈 객체가 생성됨
# 숫자 인덱스는 우리가 지정하지 않아도 자동 부여되는 인덱스
arr = [3,5,1,2] # 파이썬의 리스트 타입 변수
data1 = Series(arr)
data1

0    3
1    5
2    1
3    2
dtype: int64

In [102]:
# 인덱스 라벨 추가하기
# 'data1.index'에 원하는 인덱스의 이름을 부여할 수 있음
data1.index = ['a','b','c','d']
data1

a    3
b    5
c    1
d    2
dtype: int64

In [103]:
# Series 생성할 때 인덱스 라벨도 함께 정의하기
# Series의 생성자의 파라미터들의 이름을 명시적으로 해주어도 됨
# Series 생성할 때 데이터 길이와 인덱스 길이가 각각 동일해야 함(값은 4개이지만 인덱스가 3개인 형태로 실행하면 에러(ValueError)가 발생함)
data1 = Series([3,5,1,2], index = ['a','b','c','d'])
data1

a    3
b    5
c    1
d    2
dtype: int64

### 2) Tuple을 사용하여 Series 생성하기

In [14]:
# Tuple 타입 선언
#'arr2'라고 하는 Tuple을 괄호를 사용해서 선언
arr2 = (3,5,1,2) # 튜플 타입의 데이터 생성
data2 = Series(arr2)
data2

0    3
1    5
2    1
3    2
dtype: int64

### 3) Dict 타입의 변수를 사용하여 Series 생성하기

In [15]:
# Dict(사전) 타입
# key-value의 쌍으로 이루어져 있는 데이터 타입
# 'arr3'는 Dict(사전) 타입의 변수
# key와 value를 콜론(:)으로 구분해서 나열
# 사전 타입의 key는 인덱스 라벨이 되고 value는 값이 됨
arr3 = {
    'a':3,
    'b':5,
    'c':1,
    'd':2
} # Dict(사전) 타입의 데이터 생성
data3 = Series(arr3)
data3

a    3
b    5
c    1
d    2
dtype: int64

### ** 몇 가지 Series 특징들 **

- Series.values는 numpy의 ndarray객체입니다.

In [17]:
# data3.values에는 ndarray 함수들을 적용할 수 잇음
# data3.values는 data3의 값만 출력하는 Series의 속성임
type(data3.values)

numpy.ndarray

- 값에는 모든 데이터 타입 사용이 가능합니다.

In [19]:
# 문자열, 숫자, 리스트, 사전(Dict), Series 등 모든 데이터 타입 사용 가능
Series(['big data', 10, 3.5, [1,2,3], {'a':5, 'b':3}, Series([1,2,3])])

0                             big data
1                                   10
2                                  3.5
3                            [1, 2, 3]
4                     {'a': 5, 'b': 3}
5    0    1
1    2
2    3
dtype: int64
dtype: object

# Series의 속성(Attributes)와 함수(Method)들

In [ ]:
# Series
# 01.Series의 속성(Attribute) 이해
# 02.Series의 주요 함수(Methods) 이해
# 03.Series의 주요 속성들을 활용할 수 있다.
# 04.Series의 주요 함수들을 활용할 수 있다.
# 05.pandas의 공식 홈페이지를 통해 Series가 제공하는 기능들을 스스로 찾아서 활용할 수 있다.

#### 샘플 데이터 생성
 값과 Index 인자를 사용하여, Series 생성

In [30]:
sample = Series([85, 90, 75, 55, 45, 90, 95, 85, 90, 100], 
               index = ['a','b','c','d','e','f','g','h','i','j'])
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

### 속성(Attribute) = Series가 가지고 있는 객체, 속성(특징) 혹은 간단한 기능을 제공

1) index - Series의 인덱스 (혹은 인덱스 라벨)

In [31]:
sample.index # sample Series의 index에만 접근가능

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

2) values - Series의 데이터

In [32]:
sample.values # sample Series의 values에만 접근가능

array([ 85,  90,  75,  55,  45,  90,  95,  85,  90, 100], dtype=int64)

3) size - Series의 크기 (데이터의 길이)

In [33]:
sample.size # sample Series 항목의 개수

10

4) dtype - Series의 데이터(Series.values)의 데이터 타입
* 정수형 숫자: int64
* 실수형 숫자: float64
* 문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우: 'O' (Object)

In [104]:
sample.dtype # 데이터의 타입 출력

dtype('int64')

In [105]:
# 문자열로 이루어져 있는 데이터의 경우에는 dtype이 object로 출력
Series(['a', 'c']).dtype # dtype('O') = Object(문자열이거나 2개 이상의 데이터 타입으로 이루어진 경우)

dtype('O')

In [106]:
Series([3, 5.3, 'abc']).dtype

dtype('O')

In [107]:
# 정수형 데이터와 실수형 데이터
Series([3, 5.3]).dtype # '3'도 실수에 포함되므로 실수형 데이터 타입으로 출력

dtype('float64')

### 함수(Methods)
- 속성(Attribute)보다 다양한 기능 제공
- 함수 호출 시 전달되는 자료들을 인자(argument, parameter)
- 각 함수들은 정의된 인자가 있으며, 인자값을 토대로 함수 실행됩니다.
- 동일한 함수라고 하더라도 인자값 설정에 따라 동작방식은 달라질 수 있습니다.

1) describe() - 통계 정보를 한 눈에 제공해주는 함수, 데이터 탐색 시 사용

In [ ]:
# 속성과 함수의 차이
# 속성 : 속성명 뒷 부분이 공백
# 함수 : 속성명 뒷 부분에 () 추가

In [40]:
sample.describe() # 데이터 탐색 시 사용

count     10.000000
mean      81.000000
std       17.763883
min       45.000000
25%       77.500000
50%       87.500000
75%       90.000000
max      100.000000
dtype: float64

2) 통계함수들 - max(), min(), avg(), ...

In [44]:
sample.max() # 최댓값
sample.min() # 최솟값
sample.avg() # 평균값
sample.mean() # sample.agg('mean')

81.0

3) add_prefix(prefix) - 인덱스 라벨 앞에 prefix 문자열을 추가

In [46]:
# a부터 j에 해당하는 index 앞에 'data-'문자열이 붙게 됨
# 인자가 없는 경우엔 빈 괄호가 전달되지만, 함수가 있는 경우엔 인자값을 나열하여 전달
# add_prefix() 함수는 인자로 받은 문자열을 index의 prefix로 추가하는 함수, 인자값 필수
sample.add_prefix('data-')

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [108]:
sample.add_prefix(prefix = 'big-')

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

In [109]:
# 출력된 결과는 원본 데이터에 반영되지 않음
sample

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
dtype: int64

In [112]:
# 결과를 원본에 반영
# 함수의 결과를 다시 원본에 할당
sample2 = sample.add_prefix(prefix = 'big-')
sample2

big-a     85
big-b     90
big-c     75
big-d     55
big-e     45
big-f     90
big-g     95
big-h     85
big-i     90
big-j    100
dtype: int64

4) value_counts() - Series에 있는 데이터 값들의 개수

In [48]:
# value 값들의 통계 정보 제공
# Series에 있는 데이터 값의 개수 출력
sample.value_counts()

90     3
85     2
100    1
55     1
75     1
45     1
95     1
dtype: int64

5) add(값) - Series의 데이터 각각에 값을 더하기

In [49]:
sample.add(100) # Series에 있는 각 항목에 인자값을 더하는 함수

a    185
b    190
c    175
d    155
e    145
f    190
g    195
h    185
i    190
j    200
dtype: int64


<b>[Mini Quiz #1]</b> 앞에 5개의 데이터에는 5를 더하고, 나머지 5개의 데이터에는 10을 더하시오.

In [50]:
# 인자에 2개 이상의 값을 전달할 때는 list로 묶어서 전달
# Series의 데이터와 인자로 전달한 list의 크기가 같아야 함
sample.add([5, 5, 5 ,5 ,5, 10, 10, 10, 10, 10])

a     90
b     95
c     80
d     60
e     50
f    100
g    105
h     95
i    100
j    110
dtype: int64

6) append(series) - 인자로 받은 series를 기존 series 뒤에 이어붙여서 하나의 series로 만든다.

In [113]:
# 기존의 sample 데이터에 'k 80'이라는 데이터를 추가하기 위해 append 함수를 사용
# index는 값이 하나인 경우라도 list로 전달
# index의 값이 일차원 배열 형태의 데이터로 호출되지 않으면 에러 발생
sr = Series(80, index = ['k']) 
sr

k    80
dtype: int64

In [114]:
# 생성한 'sr' Series 추가
sample.append(sr)

a     85
b     90
c     75
d     55
e     45
f     90
g     95
h     85
i     90
j    100
k     80
dtype: int64

7) isin(val_list) - Series에 있는 각각의 데이터들이 val_list에 포함되어 있는지 여부를 확인

In [56]:
# 데이터 중에 85라는 값의 유무 확인
# isin에 호출되는 인자는 list 형태만 가능
# 각각의 데이터 항목들이 인자로 받은 리스트에 있으면 True, 없으면 False로 나타냄
sample.isin([85])

a     True
b    False
c    False
d    False
e    False
f    False
g    False
h     True
i    False
j    False
dtype: bool

In [57]:
# data가 [85, 90] 에 포함여부 출력
# 2개 이상의 데이터도 가능
sample.isin([85, 90])

a     True
b     True
c    False
d    False
e    False
f     True
g    False
h     True
i     True
j    False
dtype: bool

<b>[Mini Quiz #2]</b> sample 데이터 내에 80이 있는지 확인하여 있으면 True, 없으면 False를 출력

In [63]:
# sample 데이터 내에 80이 있는가를 나타내줌
80 in sample.values

False

In [64]:
# 85라는 값이 데이터 항목에 있으면 True가 출력
85 in sample.values

True

<b>[Mini Quiz #3]</b> sample의 인덱스 내에 'h'가 있는지 확인하여 있으면 True, 없으면 False를 출력

In [62]:
# sample의 index 내에 'h'가 있는가를 나타내줌
'h' in sample.index

True

8) apply(<i>func</i>) - Series의 값에 <i>func</i> 함수를 적용
- Series의 값에 인자값으로 전달 받은 함수를 적용하는 함수

In [66]:
# 80 이상이면 Good, 80 미만이면 Bad로 변경하는 함수
def get_grade(val):
    if val >= 80:
        return 'Good'
    else:
        return 'Bad'

In [67]:
# 함수를 샘플 데이터 각각의 항목에 적용
# apply 함수 사용
# 미리 만들어 놓은 'get_grade' 함수가 적용되어 'Good'이나 'Bad'로 변환
sample.apply(get_grade)

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

In [ ]:
# 익명함수
# 람다(lamda) 함수라고도 함
# 이름이 없는 함수
# 함수를 재사용할 가능성이 희박하거나 굉장히 간단한 함수일 경우에 사용
# 여러 줄의 코드가 필요한 일반함수에 비해 간결
# 메모리의 공간 절약 가능

In [68]:
# 익명함수(람다 함수) 활용
# 'get_grade' 함수를 사용하는 대신 익명함수인 lamda 함수 사용
# 'get_grade' 함수를 간단하게 'lamda' 함수로 선언할 수 있음
sample.apply(lambda val: 'Good' if val >= 80 else 'Bad')

a    Good
b    Good
c     Bad
d     Bad
e     Bad
f    Good
g    Good
h    Good
i    Good
j    Good
dtype: object

## Series 인덱싱 - 원하는 데이터만 선택하기

In [ ]:
# indexing
# 01.인덱스를 활용하여 내가 원하는 데이터 선택하기
# 02.조건 색인(불리언 색인)을 활용하여 내가 원하는 데이터 선택하기
# 03.인덱스를 활용하여 특정 인덱스(들)에 해당하는 데이터만 선택할 수 있다.
# 04.인덱스 슬라이싱으로 주어진 범위에 해당하는 데이터를 선택할 수 있다.
# 05.조건 색인(불리언 색인, 팬시 색인)을 활용하여 조건에 맞는 데이터만 선택할 수 있다.

In [ ]:
# 01.인덱스를 활용하여 내가 원하는 데이터 선택하기
# Series Indexing
# Series 전체 데이터 중에서 내가 원하는 데이터만 선택해 오는 방법

1) 특정 인덱스 선택하기
- 숫자 인덱스와 인덱스 라벨 모두 가능

In [69]:
# 숫자 인덱스
# 숫자 인덱스는 0부터 시작하기 때문에 c의 숫자 인덱스는 2가 된다.
sample[2]

75

In [70]:
# 인덱스 라벨로 선택 가능
# c라는 인덱스 라벨(문자 인덱스)를 사용하여 동일한 결과를 얻을 수 있음
sample['c']

75

2) 여러 인덱스를 동시에 선택하기
- 선택하고자 하는 인덱스 목록을 리스트(List, [])로 전달

In [71]:
# 3,5,7번째 데이터를 선택하기
# 여러 개 값을 한 번에 전달하는 경우 항상 리스트로 담아서 전달
# 단순히 여러 숫자 값을 나열할 경우 에러가 발생함
# 바깥쪽 [] : 색인
# 안쪽 [] : 리스트 타입의 데이터 선언
sample[[2, 4, 6]]

c    75
e    45
g    95
dtype: int64

In [72]:
# 인덱스 라벨을 리스트로 담아 전달해 주면 정상적으로 데이터 색인이 가능함
sample[['c', 'e', 'g']]

c    75
e    45
g    95
dtype: int64

In [73]:
# c부터 g까지의 데이터 선택
sample[['c', 'd', 'e', 'f', 'g']]

c    75
d    55
e    45
f    90
g    95
dtype: int64

3)인덱스 슬라이싱 - 주어진 범위에 해당하는 데이터 선택
<img src="img/1강/Series-슬라이싱.jpg" alt="datetime" style="width: 500px;"/>

- start idx와 end idx는 생략이 가능
- start idx를 생략 -> 맨 첫 데이터부터 선택
- end idx를 생략 -> 데이터 끝까지 선택
- 숫자 인덱스로 슬라이싱 하는 경우 엔드 인덱스 미포함
- 문자 인덱스(인덱스 라벨)로 슬라이싱 하는 경우 엔드 인덱스 포함

In [76]:
# 인덱스 슬라이싱을 통해 간결하게 데이터 선택하기
# sample의 맨 앞에 5개 데이터 선택
# 엔드 인덱스 미포함
# 스타트 인덱스를 생략하는 것은 무조건 처음부터 슬라이싱을 하겠다는 의미
# 스타트 인덱스가 0인 경우에는 스타트 인덱스를 생략해도 동일한 결과를 얻을 수 있음
sample[0:5] 
sample[:5]

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [77]:
# 슬라이싱으로 색인을 정의
# 엔드 인덱스 포함
sample['a':'e']

a    85
b    90
c    75
d    55
e    45
dtype: int64

In [80]:
# sample의 맨 뒤에 있는 3개의 데이터 선택
# 엔드 인덱스를 생략하면 마지막 데이터까지 선택함
# 뒤에서부터 선택하는 마이너스 인덱스를 사용할 수도 있음
sample[7:10]
sample[7:]
sample[-3:]

h     85
i     90
j    100
dtype: int64

In [81]:
# c부터 g까지의 데이터 선택
sample['c':'g']

c    75
d    55
e    45
f    90
g    95
dtype: int64

4) 조건 색인(불리언 색인) : 조건을 활용한 인덱스 선택
- 조건에 충족하는 데이터만 선택하는 방법
- 매우 많이 활용되므로, 꼭 알고 있어야 함!
<img src="img/1강/조건색인1.jpg" alt="datetime" style="width: 1200px;"/>

In [84]:
# 불리언 인덱스에 있는 True, False의 개수와 불리언 인덱스를 사용할 Series 데이터(항목)의 개수가 동일해야 사용할 수 있음
boolean_idx = [True, False, False, False, False, 
               True, True, True, True, True]

In [85]:
sample[boolean_idx]

a     85
f     90
g     95
h     85
i     90
j    100
dtype: int64

- 명시적으로 지정하는 것보다 어떤 조건을 생성해서 그 조건을 통해 불리언 색인을 자동으로 만들어내는 방식을 주로 활용함
- 조건 색인이라는 것을 통해 불리언 인덱스를 생성한 후 이를 색인을 해 올 수 있음
- boolean index를 조건을 통해 생성할 수 있다. 
- 샘플에 있는 데이터 항목 개수만큼 '90보다 크거나 작다.'라는 조건을 수행해서 True, False를 데이터 항목의 개수만큼 생성할 수 있다.
<img src="img/1강/조건색인2.jpg" alt="datetime" style="width: 1200px;"/>

In [86]:
# 샘플에 있는 각 데이터 항목에 90보다 크거나 같다고 하는 조건이 수행되어 True, False의 리스트가 리턴 됨
sample >= 90

a    False
b     True
c    False
d    False
e    False
f     True
g     True
h    False
i     True
j     True
dtype: bool

In [87]:
# 조건 색인을 사용하면 내가 원하는 조건에 해당하는 데이터만 가지고 올 수 있음
sample[sample >= 90]

b     90
f     90
g     95
i     90
j    100
dtype: int64

<b>[Mini Quiz #4]</b> sample 데이터의 평균값보다 큰 데이터만 선택

In [88]:
# 10개 데이터의 평균 점수 보다 높은 점수만 선택해서 출력할 경우
# 1) 평균값 구하기
# 샘플에 'mean'이라는 함수를 통해 구할 수 있음
sample.mean()

81.0

In [91]:
# 2) 부릴언 인덱스를 생성
bool_idx = sample > sample.mean()

In [93]:
sample[bool_idx]

a     85
b     90
f     90
g     95
h     85
i     90
j    100
dtype: int64

<b>[Mini Quiz #5]</b> sample의 값이 50과 80 사이의 데이터만 선택

In [95]:
# 50보다 크거나 같고, 80보다 작거나 같다고 하는 2개의 조건 만들기
# 01.[sample >= 50] 조건 생성하기
# 02. & 연산 사용하기
# 조건 2개 이상을 나열할 때는 조건을 괄호로 묶어 주어야 함
# 03.[sample <= 80] 조건 생성하기
# 둘 다 충족하는 경우 True, 그렇지 않은 경우 False로 리턴해서 불리언 색인을 만들 수 있음
# 04.'cond_50_80'이라는 변수에 저장하기
cond_50_80 = (sample >= 50) &  (sample <= 80)

In [96]:
sample[cond_50_80]

c    75
d    55
dtype: int64

=============================================================
# 실습 문제

In [5]:
import random
from pandas import Series

In [6]:
# 실습 데이터 생성
# 1~100사이의 값을 26개 생성하여 list로 반환
sample = random.sample(range(1,100),26) 
data = Series(sample, index = list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'))
data

A    62
B    52
C    51
D    91
E    85
F    26
G    79
H    47
I    94
J    31
K    70
L    22
M     7
N    10
O    49
P    63
Q    95
R    98
S    24
T    89
U    32
V    55
W    23
X    60
Y    54
Z    21
dtype: int64

In [7]:
# 1) 인덱스 라벨이 'K' 항목의 값 출력
data['K']

70

In [9]:
# 2) 인덱스 라벨이 'A','F','C' 항목의 값 출력
# 리스트로 전달
data[['A', 'F', 'C']]

A    62
F    26
C    51
dtype: int64

In [10]:
# 3) 5번 인덱스부터 15번 인덱스까지의 항목 출력
data[5:16]

F    26
G    79
H    47
I    94
J    31
K    70
L    22
M     7
N    10
O    49
P    63
dtype: int64

In [11]:
# 4) 뒤에서 5개 항목 출력
data[-5:]

V    55
W    23
X    60
Y    54
Z    21
dtype: int64

In [13]:
# 5) data의 항목의 갯수를 출력
len(data)
data.size

26

In [120]:
# 6) data 항목 값들의 평균보다 큰 항목만 출력 
## Hint. data 항목 값들의 평균은 data.mean()으로 구할 수 있다.
data.mean()

53.46153846153846

In [121]:
data[data > data.mean()]

A    62
D    91
E    85
G    79
I    94
K    70
P    63
Q    95
R    98
T    89
V    55
X    60
Y    54
dtype: int64

In [122]:
# 7) data의 항목 값 중에 50이 있는지 확인하여, 있으면 True, 없으면 False를 출력
# 15 in [10, 20, 30]
50 in data.values

False

In [123]:
# 8) data의 인덱스 라벨과 각 항목 값을 아래와 같이 출력
# index: A, value: XX
# index: B, value: XX
# index: C, value: XX
for i in data.items():
    print(i)
# for idx, val in data.items():
    # print('index:', idx, 'value:', val)

('A', 62)
('B', 52)
('C', 51)
('D', 91)
('E', 85)
('F', 26)
('G', 79)
('H', 47)
('I', 94)
('J', 31)
('K', 70)
('L', 22)
('M', 7)
('N', 10)
('O', 49)
('P', 63)
('Q', 95)
('R', 98)
('S', 24)
('T', 89)
('U', 32)
('V', 55)
('W', 23)
('X', 60)
('Y', 54)
('Z', 21)